html {
  padding: 2em 1em;
}
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 0.1em;
}
table {
  border-collapse: collapse;
  width: 100%;
}
thead th {
  border-bottom: solid 1px;
}
td, th {
  text-align: left;
  padding: 0.5em;
}
tbody tr {
  border-top: solid 1px #eee;
}
header {
  position: relative;
  margin-bottom: 1em;
}
header .stats {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 80%;
  text-align: right;
}
footer {
  margin-top: 1em;
  font-size: 80%;
}
.numeric { 
  text-align: right;
}
.title {
  white-space: nowrap;
}
.direction {
  text-align: center;
}
.direction div {
  width: 20px;
  height: 20px;
}
.direction .upward {
  color: green;
}
.direction .upward:after {
  content: "⬆";
}
.direction .downward {
  color: red;
}
.direction .downward:after {
  content: "⬇";
}
.direction .flat {
  color: #666;
}
.direction .flat:after {
  content: "-";
}


.sparkline {
  height: 20px;
  width: 120px;
}
.bar {
  text-align: left;
  text-indent: 0.25em;
  display: block;
  box-sizing: border-box;
  padding: 0.25em;
  background: rgba(204,204,204,.5);
  border-radius: 2px;
  }
